body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(0, 0, 0, 0.5); /* Low opacity background */
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    transition: background-color 0.5s;
    overflow-x: hidden;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Clearer content area */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 94.5vh;
    transition: background-color 0.5s;
    position: relative;
    z-index: 2;
}

.profile {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.info {
    margin-top: 30px;
}

.info p {
    font-size: 18px;
    line-height: 1.2;
    margin: 3px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto; /* Push to the bottom */
    gap: 10px;
}

.buttons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    overflow: hidden;
    text-decoration: none;
}

.buttons a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visitor-like {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 15px;
}

.visitor, .like {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.visitor img, .like img {
    width: 20px;
    height: 20px;
}

#like-button {
    background: none;
    border: none;
    cursor: pointer;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
}

.theme-toggler {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
}

#theme-button {
    cursor: pointer;
}

.theme-options {
    display: none;
    flex-direction: column;
    gap: 5px;
}

.theme-options img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.theme-toggler:hover .theme-options {
    display: flex;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .buttons a {
        width: 30px;
        height: 30px;
    }

    .visitor, .like {
        padding: 3px;
    }

    .visitor img, .like img {
        width: 15px;
        height: 15px;
    }
}
