/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    transition: background-color 0.3s, color 0.3s;
}

/* Container styling */
.container {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity here */
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

/* Particle background */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7; /* Adjusted opacity for better visibility */
    transition: opacity 0.5s;
}

/* Adjust content color and container background based on theme */
body.day-theme .container {
    background-color: rgba(255, 255, 255, 0.5); /* White with low opacity for day mode */
    color: #000;
}

body.dark-theme .container {
    background-color: rgba(0, 0, 0, 0.5); /* Black with low opacity for dark mode */
    color: #fff;
}

/* Ensure particles are visible in both themes */
body.day-theme #particles-js {
    opacity: 0.7; /* Visibility for particles in day mode */
}

body.dark-theme #particles-js {
    opacity: 0.7; /* Visibility for particles in dark mode */
}

/* Center text in desktop view */
@media (min-width: 769px) {
    .container {
        text-align: center;
    }
}

/* Responsive styling */
@media (max-width: 768px) {
    .container {
        padding: 10px;
        text-align: left;
    }

    .buttons a {
        width: 30px;
        height: 30px;
    }

    .visitor, .like {
        padding: 3px;
    }

    .visitor img, .like img {
        width: 15px;
        height: 15px;
    }
}
